*{
	box-sizing:border-box;

}

section{
	clear: both;
}


img{

	width: 100%;

}
ul{
	list-style: none;
}


#grid-floats .grid-item {


float: left;
justify-content: space-between;
margin-left: 32px; 


}



.grid-item{
	font-size: 11px;


}
#grid-flex{
display:flex;
flex-wrap: wrap;
justify-content: space-between;	

}


@media screen and (max-width: 500px){
	body{
			
			background-color: purple;
		    border: groove;
		    background:#c2c2e9;
	}

	#grid-floats .grid-item {
		margin: 1%;
		width:47%;
		min-height: 327px;
}
	#grid-floats li:nth-child(1){

	width: 90%;
}
	#grid-flex .grid-item{
	width: 47%;
	margin: 1%;
	min-height: 327px;	
}
	#grid-flex li:nth-child(1){
	margin-right: 2%;
	width: 90%;
}

	}


@media screen and (min-width: 501px) and (max-width: 900px){
	body{
		background-color: tomato;
	}

	#grid-floats .grid-item {
		margin: 1%;
		width:30%;
		min-height: 305px;
}
	#grid-floats li:nth-child(1){
	margin-right: 1%;
	width: 47%;
}
	#grid-floats li:nth-child(2){
	margin-right: 1%;
	width: 47%;
}
	#grid-flex .grid-item{
	width: 30%;
}

	#grid-flex li:nth-child(1){
	margin-right: 34px;
	width: 40%;
}
	#grid-flex li:nth-child(2){
	margin-right: 34px;
	width: 40%;
}

	}

@media screen  and (min-width: 901px) {
	body{
		background-color: grey;
	}
  	#grid-floats .grid-item,#grid-flex .grid-item {
  		width: 21%;
  		height: 570px;



  	}
  		#grid-floats li:nth-child(1){

	width: 40%;
	font-size: 16px;

}

  		#grid-flex li:nth-child(1){

	width: 40%;
}
  }

